/*  CSS Document - jQuery Mobile Overrides                */
/*  Written by Chris Converse - http://chrisconverse.com  */

/* Swatch A Overrides */
.ui-page.ui-body-a.ui-page-active { background: #005d9c url(../images/home_banner.jpg) no-repeat 50% 0px; }
.ui-page.ui-body-a.ui-page-active .ui-header.ui-bar-a { display: none; }

.ui-page.ui-body-a.ui-page-active .ui-content .ui-btn { background: rgba(255,255,255,.15); }
.ui-page.ui-body-a.ui-page-active .ui-content .ui-btn-hover-a { background: rgba(255,255,255,.25); }
.ui-page.ui-body-a.ui-page-active .ui-content .ui-btn#contact { margin: 25px 45px 0px 45px; }
.ui-page.ui-body-a.ui-page-active .ui-content { padding-top: 130px; margin: 0px 20px 10px 20px; }

/* Swatch C Overrides */
.ui-page.ui-body-c.ui-page-active .ui-header.ui-bar-a .ui-icon { background-color: #005d9c; }
.ui-page.ui-body-c.ui-page-active { background: #005d9c; }
.ui-page.ui-body-c.ui-page-active .ui-content { background: #fff; padding-bottom: 10px; }
.ui-page.ui-body-c.ui-page-active .ui-content .ui-icon { background-color: rgba(74,144,236,1); }
.ui-page.ui-body-c.ui-page-active .ui-content .ui-controlgroup { margin: 0px 40px 20px 40px; }
.ui-page.ui-body-c.ui-page-active .ui-content .ui-controlgroup .ui-btn { text-align: left; }


/* Global Overrides */
body { background-color: #005d9c; }
.ui-header {
	border: none;
	border-bottom: 1px solid #fff;
	-moz-box-shadow: 0px 4px 5px rgba(0,0,0,.20);
	-webkit-box-shadow: 0px 4px 5px rgba(0,0,0,.20);
	box-shadow: 0px 4px 5px rgba(0,0,0,.20);
	background: #005d9c url(../images/content_banner.jpg) no-repeat right 0px;
	padding: 5px 0px 5px 0px;
}
.ui-header h1.ui-title { font-size: 20px; text-align: left; margin: .6em 10px .8em 55px; }
.ui-header .ui-btn-left { top: 1em; }

.ui-page.ui-body-c.ui-overlay-a.ui-dialog.ui-page-active .ui-header h1.ui-title { margin: .8em 10px .8em 40px; }

.ui-footer.ui-bar-a { background: none; background-color: #005d9c; border: none; border-top: 1px solid #ddd; padding-top: 10px; }
.ui-footer h4.ui-title { text-align: center; font-size: .8em; font-weight: normal; margin: 5px 0px 10px 0px; }
.ui-footer .ui-controlgroup-horizontal { margin: 10px 20px 15px 20px; text-align: center; }

/* Content Formatting */
h2 { margin-top: 0px; color: #005d9c; }
h3 { margin-top: 0px; color: #005d9c; }
p { margin: 0px 0px 1em 0px; }
.services_chart {
	float: right;
	margin: 0px 0px 20px 20px; 
	border: 2px solid #fff;
	-moz-box-shadow: 0px 4px 7px rgba(0,0,0,.20);
	-webkit-box-shadow: 0px 4px 7px rgba(0,0,0,.20);
	box-shadow: 0px 4px 7px rgba(0,0,0,.20);
}
p.intro { font-size: 1.5em; color: #bbb; line-height: 1.2em; }


